link(rel="stylesheet", href="fragments/heart/heart.scss")

.ecma-heart-wrapper
  .ecma-heart
  .ecma-heart-content
    each val, index in ['ES3', 'ES5', 'ES6', 'ES7', 'ES8', 'ES2015', 'ES2016', 'ES2017', 'ES2020', 'ESNext', 'ECMAScript 2015', 'ECMAScript 2016', 'ECMAScript 2017', 'ECMAScript 2018', 'ECMAScript 2019']
      .ecma-heart-content__item(class='pos-' + index)=  val














