doctype html
html(lang="")
  head
    link(rel="stylesheet", href="styles/styles.scss")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap", rel="stylesheet")
  body

    include fragments/heart/heart.pug
